.wrap-profile {
  margin: 0 auto;
  max-width: 1400px;

  .header-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
    border-bottom: 2px solid #e4e6e9;

    .info-user {
      display: flex;
      align-items: center;
      img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }

      p {
        font-size: 40px;
        margin-left: 16px;
        font-weight: 600;
      }
    }

    .action-user {
      .btn-profile {
        padding: 16px 32px;
        margin-right: 16px;
        font-size: 18px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          background-color: #e4e6e9;
        }
      }
    }
  }
}
