.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .modal-title {
    position: relative;

    h2 {
      margin-top: 0;
      text-align: center;
      padding-bottom: 16px;
      border-bottom: 0.5px solid gray;
    }

    .icon-close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 32px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  div {
    p {
      margin-left: 8px;
    }
  }

  .content-article {
    margin: 16px 16px 16px 0;

    .custom-textarea {
      width: 100%;
      padding: 10px;
      border: none; // Ẩn viền
      resize: none; // Ẩn khả năng thay đổi kích thước
      overflow: hidden; // Ẩn thanh cuộn
      box-shadow: none; // Ẩn bóng đổ (nếu có)

      // Chỉnh kiểu chữ
      font-family: "Roboto", sans-serif; // Font chữ
      font-size: 16px; // Kích thước chữ
      font-weight: normal; // Độ đậm của chữ
      color: #333; // Màu chữ
      background-color: #f8f8f8; // Màu nền

      &:focus {
        outline: none; // Ẩn viền khi textarea được chọn
      }
    }
  }

  .file-input-container {
    width: 100%;
    position: relative;
    display: inline-block;

    .file-input {
      display: none; // Ẩn input file mặc định
    }
  }
  .file-input-label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff; // Màu viền
    border-radius: 5px; // Đường viền bo tròn
    background-color: #f8f9fa; // Màu nền
    color: #007bff; // Màu chữ
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; // Hiệu ứng chuyển đổi
  }

  .btn-submit {
    width: 100%;
    background-color: #0866ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 16px 0;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
